/* Para deixar minha calculadora cheiorsa */
* {
	margin: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

#containerCalculadora {
	background-color: white;
	width: 430px;
	border: 2px solid red;
}

/* INCIO: Estilos para o painel */
#painel {
	display: flex;
	justify-content: space-between;
	height: 120px;
	background-color: white;
	border: 2px solid orange;
}

#abrirHistorico,
#fecharHistorico {
	padding: 5px;
	font-size: 2em;
	color: #9f9999;
}

#abrirHistorico:hover,
#fecharHistorico:hover {
	color: black;
	cursor: pointer;
}

#expressaoAoVivo {
	font-size: 5em;
}

#expressaoDigitada {
	display: flex;
	justify-content: flex-end;
	font-size: 1.3em;
}

#expressoes {
	border: 2px solid green;
}

#historicoLista {
	visibility: hidden;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 10px;
	width: 380px;
	min-height: 100px;
	box-shadow: 1px 0px 9px 4px rgba(0, 0, 0, 0.32);
}

#historicoListaItens {	
	margin-top: 20px;
}

#historicoListaItens .expressao,
#historicoListaItens .resultado {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid lightgray;
	color: rgb(69, 69, 173);
}

#historicoListaItens .sinal {
}

/* FIM: Estilos para o painel */

/* INICIO: Calculadora Botões */
#calculadora {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	background-color: yellow;
}

.botao {
	margin: 10px;
	padding: 20px;
	background-color: #efe7e7;
	border: 1px solid rgb(179 157 157);
	width: 45px;
	height: 45px;
	font-size: 2em;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.botao:hover {
	background-color: #ccc;
	box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.36);
}

.botao:active {
	background-color: #aaa;
}

.operacao{
	background-color: #aaa;
}

.calcular {
	background-color: cornflowerblue;
	color: #fff;
}
/* FIM: Calculadora Botões */
